server {
	listen 80; 

	root /var/www/ellawiki;
	index index.php index.html index.htm;

	# Make site accessible from http://localhost/
	server_name wiki-hook.ellaism.org;

	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass unix:/run/php/php7.1-fpm.sock;
		fastcgi_index index.php;
		include fastcgi_params;
	}

location / {
    try_files $uri $uri/ /index.php?$query_string;
}

location = /favicon.ico {
log_not_found off;
access_log off;
}
location = /robots.txt {
allow all;
log_not_found off;
access_log off;
}
location ~ /\. {
deny all;
}


}
