<!DOCTYPE html>
<html lang="en-us">

{% include header.html %}

<body class="sidebar-overlay">
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
{% include sidebar.html %}
<div class="masthead">
  <div class="container">
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    <h1 class="masthead-title">
      {{ page.title }}
      <a href="{{ site.baseurl }}/index.html" title="Home"><small>{{ site.title }}</small></a>
    </h1>
  </div>
</div>
<div class="masthead-spacer"></div>
  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="container content">
      <div id="tipue_search_content"></div>
      <div id="wiki-page-content">
      {{ content }}
      </div>
    </div>
  </div>

  {% if page.hide_footer %} {% else %} {% include footer.html %} {% endif %}
</body>

</html>
